.user-profil-layout-desktop {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.user-profil-layout-nav-div-desktop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    margin: 50px 0 0 0;
    background-color: #dcd4c9;
    height: 100%;
    -webkit-box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
    -moz-box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
    box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
}

.user-profil-nav-span {
    color: #02212e;
    font-size: 36px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.user-profil-layout-nav-div-desktop ul{
    box-sizing: border-box;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.user-profil-layout-nav-div-desktop ul li{
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0
}

.user-profil-layout-nav-div-desktop ul li a{
    box-sizing: border-box;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    color: #02212e;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}