.library-results-div-desktop {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.search-results-span {
  margin: 50px 0 50px 0;
  color: #02212e;
  font-size: 32px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
}

.results-div-grid-desktop {
  box-sizing: border-box;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(5, 1fr);
}

.single-result-book-div-desktop {
  padding: 25px 20px;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background-color: #dcd4c9;
  -webkit-box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
  -moz-box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
  box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
}

.single-result-book-div-desktop img{
  max-width: 80%;
  border-radius: 4px;
}

.book-main-data-div-desktop {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.book-main-data-div-desktop span{
  color: #02212e;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}