.user-library-book-options-div-desktop {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.user-library-book-options-active-button{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 40px;
  align-items: center;
  color: #f3faff;
  background-color: #17222c;
  outline: none;
  border: none;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  border-radius: 8px;
  cursor: pointer;
}

.user-library-book-options-no-active-button{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 40px;
  align-items: center;
  color: #f3faff;
  background-color: #17222c;
  outline: none;
  border: none;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  border-radius: 8px;
  opacity: 0.7;
}

.user-library-book-options-div-desktop a {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 40px;
  align-items: center;
  color: #f3faff;
  background-color: #17222c;
  outline: none;
  border: none;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  border-radius: 8px;
  cursor: pointer;
}