.library-page-template-div-desktop {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-page-span {
  margin-top: 50px;
  color: #02212e;
  font-size: 72px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
}

.library-page-template-div-desktop a{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #082239;
  color: #f1f8ff;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}