.login-panel-div {
    box-sizing: border-box;
    margin-top: 50px;
    width: 450px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #dcd4c9;    
    border-radius: 16px;
    padding: 40px;
    -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
}

.login-panel-span {
    color: #02212e;
    font-size: 48px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 600;
    font-style: normal;
}

.login-panel-div form{
    box-sizing: border-box;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    padding: 25px 0;
    border-bottom: 1px dashed #02212e;
}

.login-panel-div a{
    margin: 25px 0 10px 0;
    padding: 0 0 10px 0;
    text-align: center;
    text-decoration: none;
    color: #02212e;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px solid #02212e;
}

.login-panel-forget-password-span {
    font-weight: 400 !important;
    font-size: 28px !important;
}

.login-panel-login-button {
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    color: #f3faff;
    background-color: #17222c;
    outline: none;
    border: none;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 600;
    font-style: normal;
    border-radius: 8px;
}