.home-page-about-us-segment-div-desktop{
    margin: 10px 0;
    box-sizing: border-box;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #02212e;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.home-page-about-us-segment-div-desktop a{
    text-decoration: none;
}