.home-page-about-us-div{
  margin: 20px 0;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background-color: #dcd4c9;
  width: 25%;
  -webkit-box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
  -moz-box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
  box-shadow: 0px 0px 24px 20px rgba(220, 212, 201, 1);
}

.home-page-about-us-span {
  color: #02212e;
  font-size: 48px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 50px 0 25px 0;
}