.home-page-bot-container-div-desktop {
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.home-page-bot-container-title-span {
    color: #02212e;
    font-size: 48px;
    letter-spacing: 1px;
    font-family: "Special Elite", system-ui;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
}