.website-layout-nav-div{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0 50px;
}

.website-layout-nav-div nav{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.website-layout-nav-div nav ul{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.website-layout-nav-div nav ul li{
  margin-right: 50px;
}

.website-layout-nav-div nav ul li:last-child{
  margin-right: 0;
}